* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primarycolor: #eee;
    --secondarycolor: #fff;
    --text-color: #2d353c;
    --outlinecolor: #000000;
    --inputcolor: lightgrey;
    --navbarcolor: #111827;
    --postbodycolor: #fff;
}

body {
    background: var(--primarycolor);
}

.navlogo {
    display: inline-block;
    width: 52px;
    height: 52px;
}

.container {
    margin-top: 4rem;
}

.timeline-content p {
    color: var(--text-color);
}

/***** profile settings *****/
.rounded-full {
    border-radius: 100%;
}

.image-container {
    position: relative;
    display: inline-block;
    text-align: center;
}

.container-box {
    display: flex;
    justify-content: center;
}

.notification-icon-container {
    position: relative;
    display: inline-block;
}

.notification-count {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: red;
    /* İstediğiniz arka plan rengini ayarlayabilirsiniz */
    color: white;
    /* Yazı rengi */
    padding: 2px 6px;
    /* İstediğiniz iç boşluğu ayarlayabilirsiniz */
    border-radius: 50%;
    /* Kareyi yuvarlak yapar */
    font-size: 12px;
}

#like-icon {
    display: none;
    /* İkonu gizle */
    font-size: 1rem;
    position: fixed;
    bottom: 40px;
    right: 50%;
    transform: translateX(50%);
    color: #d40c0c;
    transition: transform 0.2s ease-in-out, font-size 0.2s ease-in-out;
}

.timeline-content {
    position: relative;
}



.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    /* Yarı saydam beyaz */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    /* Başlangıçta görünmez yapmak için */
    transition: opacity 0.3s;
    cursor: pointer;
    /* Göster/gizle efekti */
}

.overlay i {
    font-size: 24px;
    color: #000;
    /* Kamera simgesi rengi */
}

.image-container:hover .overlay {
    opacity: 1;
    /* Resmin üzerine gelince yarı saydam görünümü göster */
}

/***** End profile settings *****/
/* Register Başlar */
.registerForm input {
    display: block;
    margin-bottom: 2rem;
    width: 30%;
    height: 35px;

}

.registerForm input:active {
    outline: none;

}

.registerForm input:hover {
    outline: 1px solid var(--inputcolor);
}

.registerForm input:focus {
    border-bottom: 2px solid var(--outlinecolor);
    border-radius: 4px 4px 2px 2px;
}

.registerForm {
    margin-top: 10%;
}

/* Register Biter */

#settingspage input {
    width: 30%;
}

.form-control {
    display: none;
}

.text-box {
    display: block !important;
}

.inputlabel {
    display: none;
}

#save-button,
#cancel-button {
    display: none;
}


/* upload */
.inputs {
    width: 100%;
    height: 100%;
}

/*upload biter*/




/* Post başlar */
select.form-control:not([size]):not([multiple]) {
    height: 34px;
}

.dropdown-toggle::after {
    color: var(--text-color);
}

.form-control.input-inline {
    display: inline;
    width: auto;
    padding: 0 7px;
}


.timeline {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative
}


.timeline>li {
    position: relative;
    min-height: 50px;
    padding: 20px 0
}

.timeline .timeline-time {
    position: absolute;
    left: 0;
    width: 18%;
    text-align: right;
    top: 30px
}

.timeline .timeline-time .date,
.timeline .timeline-time .time {
    display: block;
    font-weight: 600
}

.timeline .timeline-time .date {
    line-height: 16px;
    font-size: 12px
}

.timeline .timeline-time .time {
    line-height: 24px;
    font-size: 20px;
    color: var(--text-color)
}

.timeline .timeline-icon {
    left: 15%;
    position: absolute;
    width: 10%;
    text-align: center;
    top: 40px
}

.timeline .timeline-icon a {
    text-decoration: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 20px;
    background: #d9e0e7;
    line-height: 10px;
    color: var(--secondarycolor);
    font-size: 14px;
    border: 5px solid var(--text-color);
    transition: border-color .2s linear
}

.timeline .timeline-body {

    margin-left: 23%;
    margin-right: 17%;
    background: var(--postbodycolor);
    position: relative;
    padding: 20px 25px;
    border-radius: 6px
}

.timeline .timeline-body:before {
    content: '';
    display: block;
    position: absolute;
    border: 10px solid transparent;
    border-right-color: var(--secondarycolor);
    left: -20px;
    top: 20px
}

.timeline .timeline-body>div+div {
    margin-top: 15px
}

.timeline .timeline-body>div+div:last-child {
    margin-bottom: -20px;
    padding-bottom: 20px;
    border-radius: 0 0 6px 6px
}

.timeline-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e7eb;
    line-height: 30px
}

.timeline-header .userimage {
    float: left;
    width: 34px;
    height: 34px;
    border-radius: 40px;
    overflow: hidden;
    margin: -2px 10px -2px 0
}

.timeline-header .username {
    font-size: 16px;
    font-weight: 600
}

.timeline-header .username,
.timeline-header .username a {
    color: var(--text-color)
}

.timeline img {
    max-width: 100%;
    display: block
}

.timeline-header {
    display: flex;
    justify-content: space-between;
}

.timeline-content img {
    margin-left: 20%;
}



.timeline-title {
    margin-top: 0
}

.timeline-likes {
    color: var(--text-color);
    font-weight: 600;
    font-size: 12px
}

.timeline-likes .stats-right {
    float: right
}

.timeline-likes .stats-total {
    display: inline-block;
    line-height: 20px;
    margin-left: 5px;
}

.timeline-likes .stats-icon {
    float: left;
    margin-right: 5px;
    font-size: 9px
}



.timeline-likes .stats-icon+.stats-icon {
    margin-left: -2px
}

.timeline-likes .stats-text {
    line-height: 20px
}

.timeline-likes .stats-text+.stats-text {
    margin-left: 15px
}


/* Post biter */

/* Login başlar */
------------------------------------ .login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: var(--secondarycolor)FFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-top: 15rem;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: var(--secondarycolor)FFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}


.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #4CAF50;
    text-decoration: none;
}

/* Login biter */

---------------------------------

/* Register başlar */
.registerForm {
    position: relative;
    z-index: 1;
    background: var(--secondarycolor)FFF;
    max-width: 360px;

    margin-left: 0 !important;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin-top: 15rem;
}

.registerForm input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;

    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.registerForm button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: var(--secondarycolor)FFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

/* Register biter */

/* Navbar başlar */
.sidenav {
    width: 0%;
    overflow: hidden;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--navbarcolor);
    transition: width 0.5s ease;
    /* Width değerinde geçiş efekti ekleyin */


}

.sidenav.open {
    width: 4%;
    /* Açık durumda width'i %4 olarak ayarlayın */
}

.toggle {
    /* Unicode karakteri kullanarak üç çizgi simgesi (Hamburger ikonu) ekleyin */
    font-size: 2vw;
    /* İkonun boyutunu ayarlayın */
    line-height: 50px;
    /* İkonun dikey hizalamasını ayarlayın */
    text-align: center;
    /* İkonu yatayda ortala */
    cursor: pointer;
    color: white;
    /* İkon rengini ayarlayın */
    background-color: var(--navbarcolor);
    width: 50px;
    height: 50px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    position: fixed;
    z-index: 2;
    /* Diğer elemanların üzerinde olmasını sağlar */
    top: 40%;
    /* Dikey eksende ortala */
    transform: translateY(-40%);
    /* Dikey eksende sayfanın ortasına taşı */
    left: 0;
    /* Yatay pozisyonu sabit tut */
    padding-right: 10px;
    padding-bottom: 10px;
    transition: left 0.5s ease;
    /* Sol ve sağ kaydırmayı animasyonla yap */
}


ul.list-unstyled {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

ul.list-unstyled li {
    margin-right: 10px;
    /* İstenilen boşluğu ayarlayabilirsiniz */
    margin-bottom: 15px;
}

.sidenav ul {
    padding-left: 0;
    margin-bottom: 0;
}

.sidenav ul a {
    width: 100%;
    height: 50px;
    color: white;
    font-size: 1.4vw;
}

.sidenav a:hover {
    color: lightgray;
    scale: 1.1;
}

/* Navbar biter */


.dropdown {
    background: none;
}

/* COMMENT */
.user img {
    float: left;
    width: 34px;
    height: 34px;
    overflow: hidden;
    border-radius: 30px
}

/* COMMENT */

/* ICONS */
#fa-solid {

    font-size: 1.4vw;
}

#fa-solidd {

    font-size: 1.3vw;
}

/* ICONS */



@media (max-width: 1415px) {}

@media (max-width: 1075px) {
    .sidenav {
        width: 6%;
    }

    .settings {
        margin-left: 1.5rem;
    }

    .sidenav img {
        width: 35px;
        height: 35px;
    }


}

@media (max-width:768px) {
    #fa-solid {
        font-size: 2vw;
    }

    #fa-solidd {

        font-size: 4vw;
    }

    #list {
        align-items: baseline;
    }

    .timeline .timeline-body {
        margin-left: 2% !important;
        margin-right: 0;
    }

    .settings {
        margin-left: 1.5rem;
    }

    .sidenav img {
        width: 20px;
        height: 20px;
    }

}


@media(max-width:580px) {
    .settings {
        margin-left: 1.5rem;
    }

}

@media (max-width:426px) {

    .timeline .timeline-body {
        margin-left: 8% !important;
        margin-right: 0;
    }

    .sidenav {
        width: 9%;

    }

    #fa-solid {
        font-size: 3vw;
    }

    .sidenav img {
        width: 15px;
        height: 15px;
    }

}